@media (width<=900px){
    header{
        width:100%;
    }
    header #icons_contactDealer{
        display:none;
    }
    main {
        width:100%;
        height:100%;
        display:block;
    }
    aside{
        width:100%;
        height:100%;
        display:inline-block;
    }
    main section{
        width:100%;
        height:calc(100vw * 9/16);
        
    
    }
    section{ z-index:100;}
    section #car_name{
        display:none;
    }
    section #car_image{
        margin:0;
        width:100%;
        height:100%;
        
    }
    aside #price{
        top:calc((109.9vw * 9/16));
    }
    #list .list_box{
        top:calc((137vw) * 9/16);
    }
    

}