@media (width<=900px){
    header{
        width:100%;

    }
    header #icons_contactDealer{
        display:none;
    }
    main {
        width:100%;
        height:100%;
        display:block;
    }
    aside{
        width:100%;
        height:100%;
        display:inline-block;
    }
    main section{
        margin-top:1px;
        width:100%;
        height:calc(100vw * 9/16);
        
    
    }

    section #car_name{
        display:none;
    }
    section #car_image{
        margin-left:-5px;
        width:100%;
        height:100%;
        
    }
    aside #price{
        height:200px;
        top:calc((109.9vw * 9/16));
    }
    #price #total_price{
        height:40px;
    }
    #price #base_price{
        height:80px;
    }
    #list .list_box{
        top:calc((149vw) * 9/16);
    }
    #price #car_name_1{
        display: flex;
        height:50px;
        align-items: center;
        justify-content: space-between;
        
    }
    #car_name_1 #car_name_1_1,#car_name_1 i {
        font-size:20px;
    }
}