#container4{
  width: 99vw;
  height: 100vh;
}
#container4 > .img {
  background: url("../img/porsche-normal(7).jpeg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.body_type_911 {
  width: 20vw;
  color: white;
  margin-left: 180px;
  margin-bottom: 70px;
}
h1{
  font-size: 60px;
}
.coupe, .cabriolet, .targa{
  font-size: 20px;
  font-weight: bold;
  
  padding: 10px 0;
  cursor: pointer;
}
.coupe_intro, .cabriolet_intro, .targa_intro{
  margin-top: 10px;
}

.coupe:hover + hr {
  
  background-color: red;
  height: 1.5px;
  border: 0;
  animation-name: underline;
  animation-duration: 1s;
}
@keyframes underline {
  from {width: 0%;}
  to{width: 100%;}
}
.cabriolet:hover + hr {
 
  background-color: red;
  height: 1.5px;
  border: 0;
  animation-name: underline;
  animation-duration: 1s;
}
@keyframes underline {
  from {width: 0%;}
  to{width: 100%;}
}
.targa:hover + hr {
 
  background-color: red;
  height: 1.5px;
  border: 0;
  animation-name: underline;
  animation-duration: 1s;
}
@keyframes underline {
  from {width: 0%;}
  to{width: 100%;}
}