.outro {
  background-color: #272727;
  color: white;
}
.outro .inner {
  max-width: 1440px;
  position: relative;
  margin: auto;
  border: 1px solid red;
}
.outro .inner .intro {
  display: flex;
  justify-content: center;
}
.outro .inner .intro li {
  position: relative;
  padding: 16px 15px;
}
.outro .inner .intro li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.outro .inner .intro li:first-child::before{
  display: none;
}