/* COMMON */
body {
  font-size: 16px;
}
img {
  display: block;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 9;
}
header .inner {
  max-width: 1440px;
  height: 75px;
  position: relative;
  margin: 20px auto;
}
header .inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .inner .main-menu {
  display: flex;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 800;
  
}
header .inner .main-menu .item {
  margin: 0 30px;
}
header .inner .main-menu .item .item__name {
  padding: 5px;
  position: relative;
  cursor: pointer;
}
header .inner .main-menu .item .item__name:hover {
  color: #E6007E;
}
/* hover 시 boder-bottom만 추가하면 텍스트 밀림 발생,
 이를 방지하기 위해 after 가상 요소 선택자에 position:absolute 추가*/
header .inner .main-menu .item .item__name:hover::after {
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 2px solid #E6007E;
  position: absolute;
}