.middle-area {
 height: 750px;
 border-top: 1px solid #aaa;
 margin-top: 60px;
}
.middle-area .inner {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  height: 700px;
}
.middle-area .inner h1 {
  width: 250px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #111;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
}
.middle-area > .inner .userInfo {
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
}
.middle-area > .inner .userInfo li {
  margin: 20px 0;
}
.middle-area > .inner .userInfo li > p {
  margin-bottom: 20px;
}
.middle-area > .inner .userInfo li input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 18px;
  text-indent: 8px;
}
.middle-area .inner .login-btn {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  margin: auto;
  cursor: pointer;
  transition: all .3s;
}
.middle-area .inner .login-btn:hover {
  background-color: #E6007E;
  color: white;
  box-shadow: 5px 5px 10px 10px;
}