footer {
  font-family: sans-serif;
  font-size: 16px;
  color: lightgray;
}
.outro {
  height: 25vh;
  background-color: #272727;
  color: white;
}
.outro .inner {
  max-width: 1440px;
  /* position: relative; */
  margin: auto;
  padding: 30px 0;
  
}
.outro .inner .intro {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.outro .inner .intro li {
  position: relative;
  padding: 16px 15px;
}
.outro .inner .intro li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.outro .inner .intro li:first-child::before{
  display: none;
}

.outro .inner .adress {
  
  width: 100%;
  font-size: 12px;
  margin-bottom: 15px;
  margin-left: 100px;
}
.outro .inner .tel {
  display: flex;
  margin-left: 90px;
  font-size: 12px;
}
.outro .inner .tel li {
  position: relative;
  padding: 0 10px;
}
.outro .inner .tel li::before {
  content: '';
  background-color: white;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.outro .inner .tel li:first-child::before {
  display: none;
}